/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
}
/* Tablet & Mobile*/
@media screen and (max-width: 991px) {
    .nav-bar {
        position: relative;
    }
    .nav-bar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-bar ul {
        display: none;
    }
    .toggle-menu svg {
        width: 24px;
        color: #ccc;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: white;
        padding: 60px;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }
    .menu-drawer ul {
        margin-top: 32px;
    }
    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    .separate {
        border-top: 1.5px solid #ebebeb;
    }
    .header-house {
        display: none;
    }
    .hero .info {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .hero .title {
        width: 100%;
    }
    .hero .desc {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .clients .clients-logo {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 74px;
        row-gap: 30px;
    }
    .guide .row {
        justify-content: center;
        gap: 40px;
    }
    .featured1 .f1-content {
        grid-template-columns: 1fr 1fr;
    }
    .featured2 .row {
        flex-direction: column;
    }
    .featured2 .img {
        margin-top: 80px;
        width: 100%;
        order: 2;
    }
    .featured2 .sub-title {
        padding: 0;
        order: 1;
    }
    .featured2 .sub-title .title {
        width: 70%;
    }
    .featured2 .sub-title .desc {
        width: 100%;
    }
    .featured2 .row-data .detail {
        font-size: 5rem;
    }
    .featured2 .row-data .desc {
        font-size: 1.5rem;
    }
    .newletters .image {
        display: none;
    }
    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}
/* Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}
/* Mobile */
@media screen and (max-width: 767px) {
    .header {
        height: auto;
    }
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }
    .nav-bar .action {
        display: none;
    }
    .hero .info {
        margin-top: 60px;
    }
    .hero .title {
        font-size: 5.2rem;
    }
    .hero .desc {
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
    .clients .row .desc {
        font-size: 1.5rem;
    }
    .clients .clients-logo {
        display: grid;
        grid-template-columns: 1fr;
    }
    .clients .clients-logo a {
        text-align: center;
    }
    .guide .row {
        flex-direction: column;
    }
    .featured1 .link {
        display: none;
    }
    .featured1 .f1-content {
        grid-template-columns: 1fr;
    }
    .featured1 .view-all {
        text-align: center;
        margin-top: 60px;
    }
    .featured2 .sub-title .title {
        width: 100%;
    }
    .featured2 .img-block {
        width: 100%;
    }
    .featured2 .featured2-trend {
        top: 15px;
        left: 15px;
        border-radius: 12px;
    }
    .featured2 .row-data {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .newletters .info {
        padding: 32px;
    }
    .newletters .body {
        height: auto;
    }
    .footer .row-top {
        grid-template-columns: 1fr;
    }
    .footer .row-footer {
        flex-direction: column;
        row-gap: 15px;
    }
    .footer .row-footer .desc {
        margin-left: 0;
    }
}
