* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 18.5px 16px;
}
.btn:hover {
    opacity: 0.9;
}
.row {
    display: flex;
}
.row ul {
    display: flex;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
/* Header */
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}
.header {
    position: relative;
    min-height: 736px;
    background: #e6f0ff;
}
.nav-bar {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.nav-bar ul {
    display: flex;
    margin-left: 50px;
    align-items: center;
}
.nav-bar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}
.nav-bar ul a:hover {
    text-decoration: underline;
}
.nav-bar .action {
    margin-left: auto;
}
.btn__sign-in {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.btn__sign-up {
    font-size: 1.4rem;
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}
.hero {
    display: flex;
}
.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18px;
}
.hero .info {
    margin-top: 138px;
}
.hero .title {
    margin-top: 8px;
    width: 559px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.1875; /* 118.75% */
}
.hero .desc {
    margin-top: 30px;
    width: 550px;
    color: #5a6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}
.btn-hero {
    min-width: 170px;
    margin-top: 40px;
}
.header-house {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* Clients */
.clients {
    padding-top: 43px;
    padding-bottom: 23px;
    margin-top: 79px;
    background-color: #f5fafe;
}
.clients .row {
    justify-content: space-between;
}
.clients .row-desc {
    margin-top: 23px;
}
.clients .row .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}
.clients .row .star-rate {
    color: #7d8589;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}
.clients .row-logo {
    margin-top: 96px;
}
/* Guides */
.guide .content {
    width: 685px;
    margin-top: 40px;
    padding: 79px 0;
    background-color: #f5fafe;
}
.guide .guide-header {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.guide .guide-header::before {
    position: absolute;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
}
.guide .guide-desc {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 459px;
    max-width: 100%;
}
.guide .row {
    margin-top: 70px;
    justify-content: space-between;
}
.guide-info {
    text-align: center;
}

.guide .guide-item {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guide .guide-solution {
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}
.guide .guide-solution:hover {
    text-decoration: underline;
}
.guide .guide-arrow {
    margin-left: 4px;
}
.guide .guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide .btn-guide {
    width: 170px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}
/* Feature */
.featured1 .content {
    padding: 110px 0;
    margin-top: 41px;
    background: #f5fafe;
}
.featured1 .row {
    margin-top: 15px;
    justify-content: space-between;
}
.featured1 .title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured1 .featured-desc {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}
.featured1 .link a {
    color: #0689ff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
.featured1 .link a:hover {
    text-decoration: underline;
}
.featured1 .link {
    display: flex;
    align-items: center;
}
.featured1 .link .featured-arrow {
    margin-left: 4px;
    margin-top: -1px;
}
.featured1 .row-content {
    justify-content: space-between;
    gap: 30px;
}
.featured1 .item {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    flex: 1;
}
.featured1 .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    object-position: center 80%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured1 .item .body {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #ffffff;
}
.featured1 .row-content .title {
    margin-top: 17px;
    margin-left: 20px;
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured1 .row-content .desc {
    margin-top: 11px;
    margin-left: 20px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
}
.featured1 .row-content .info {
    margin-left: 20px;
    margin-top: 21px;
    display: flex;
    align-items: center;
}
.featured1 .row-content .icon:not(:first-child) {
    margin-left: 22px;
}
.featured1 .row-content .label {
    margin-left: 8px;
    color: #444;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
/* Featured 2 */
.featured2 .content {
    margin-top: 75px;
    width: 1017px;
    padding: 50px 0;
    background-color: #f5fafe;
}
.featured2 .img {
    width: 50%;
    position: relative;
}
.featured2 .featured2-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    height: 252px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
}
.featured2-trend .row {
    margin-top: 45px;
    margin-left: 22px;
}
.featured2 .featured2-trend .value {
    width: 159px;
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    letter-spacing: 0.26px;
}
.featured2 .featured2-trend .icon {
    margin-left: 10px;
}
.featured2 .featured2-trend .desc {
    margin-top: 8px;
    margin-left: 22px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    width: 194px;
    height: 31px;
}
.featured2 .featured2-trend .separate {
    width: 193.62px;
    height: 1.2px;
    background: #e9e9e9;
    margin-left: 22.18px;
    margin-top: 25.51px;
}
.featured2 .avatar-block {
    margin-top: 26px;
    margin-left: 22px;
    gap: 16px 14px;
    flex-wrap: wrap;
}
.featured2 .avatar-group {
    display: flex;
}
.featured2 .avatar-block .avatar {
    margin-left: -3px;
    width: 16.337px;
    height: 16.337px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--bg-color, #ccc);
    color: #fff;
    line-height: 16.337px;
    text-align: center;
    font-size: 0.7261rem;
    font-weight: 450;
    letter-spacing: -0.145px;
}
.featured2 .img-block {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 40px 80px 155px 0 rgba(30, 103, 113, 0.03);
}
.featured2 .sub-title {
    padding: 79px 0 0 165px;
}
.featured2 .sub-title .title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28571; /* 128.571% */
    width: 269px;
}
.featured2 .sub-title .title::before {
    position: absolute;
    top: -10px;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.featured2 .sub-title .desc {
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    width: 309px;
}
.featured2 .row-data {
    justify-content: space-between;
    margin-top: 110px;
}
.featured2 .row-data .data {
    display: block;
}
.featured2 .row-data .data:first-child {
    margin-left: 21px;
}
.featured2 .row-data .detail {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.featured2 .row-data .desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}
/* Newletters */
.newletters {
    margin-top: 90px;
}
.newletters .body {
    position: relative;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}
.newletters .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}
.newletters .body .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.newletters .body .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}
.newletters .body .btn {
    margin-top: 20px;
    min-width: 151px;
    height: 50px;
    background: #fff;
    color: #002366;
    font-weight: 500;
}
.newletters .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* Footer */
.footer .content {
    padding: 50px 0 58px 0;
    margin-top: 55px;
    background: #f5fafe;
}
.footer .row-top {
    gap: 185px;
}
.footer .column .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}
.footer .column ul,
.footer .column .desc {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}
.footer ul .list,
.footer .column .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}
.footer .column .desc {
    white-space: normal;
}
.footer .column ul li:not(:first-child) {
    margin-top: 18px;
}
.footer .social-icon {
    margin-top: 40px;
    width: 117px;
    display: flex;
    justify-content: space-between;
}
.footer .social-icon .icon {
    width: 15px;
    height: 15px;
    border-radius: 20%;
    background: #ddd;
}
.footer .row-footer {
    margin-top: 81px;
}
.footer .row-footer .desc {
    margin-left: auto;
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
